.git
.github
.venv
venv
env
__pycache__
*.pyc
*.pyo
reports/
cache/
node_modules/
*.egg-info
dist/
build/
.mypy_cache
.pytest_cache
.ruff_cache
playground/
benchmarks/
manul_engine/test/
custom-instructions/
images/
*.md
!requirements.txt
